/* General */

html {
  font-family: 'Raleway', sans-serif;
  background-color: yellow;
  font-size: 10px;
}

body {
  width: 800px;
  margin: 0 auto;
}

/* Typography */

h1, h2 {
  font-family: 'Cherry Swash', cursive;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 5rem;
  background: url(icons/bean_can.png) no-repeat 20% center, url(icons/bean_can.png) no-repeat 80% center;
  background-size: 48px 48px;
}

h2 {
  font-size: 2rem;
  color: yellow;
  text-align: right;
  width: 160px;
  position: absolute;
  right: 4%;
  z-index: 3000;
  text-shadow: 2px 2px 1px black;
  line-height: 2rem;
  padding-top: 0.3rem;
}



p, label, input, select, button, li {
  font-size: 1.5rem;
}

li {
  line-height: 1.5;
}

/* block styling */

header, aside, main, footer {
  padding: 20px;
}

header {
  border: 5px solid black;
  border-bottom: 0;
}

aside {
  border-right: 5px solid black;
}

body > div {
  border: 5px solid black;
  display: flex;
}

footer {
  border: 5px solid black;
  border-top: 0;
}

aside {
  flex: 3;
}

main {
  flex: 7;
}

/* Form styling */

aside {
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

aside div {
  margin-bottom: 20px;
}

label, select, input {
  display: block;
}

label {
  margin-bottom: 5px;
}

select, input, button {
  width: 100%;
}

input {
  background: black;
  box-shadow: inset 1px 1px 1px white;
  color: yellow;
  border: none;
  padding: 5px;
  width: 201.5px;
}

button {
  background: black;
  color: yellow;
  padding: 5px 0;
  border: none;
  border-radius: 10px;
  box-shadow: inset 1px 1px 2px white, inset -1px -1px 2px #ccc;
}

/* Styling the products */

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

section {
  width: 45%;
  margin: 5px;
  background-color: black;
  position: relative;
  height: 215px;
}

section img {
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0px;
}

section p {
  color: yellow;
  background: black;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 2px 2px 1px yellow;
  position: absolute;
  right: 10px;
  bottom: -6px;
  z-index: 2000;
}

.vegetables {
  background: black url(icons/vegetable.png) no-repeat 2px 2px;
  background-size: 24px 24px;
}

.meat {
  background: black url(icons/meat.png) no-repeat 2px 2px;
  background-size: 24px 24px;
}

.soup {
  background: black url(icons/soup.png) no-repeat 2px 2px;
  background-size: 24px 24px;
}

.page-header, .document-toc-container, .loading-bar, #nav-access, .sidebar, .newsletter-container, .metadata {display:none !important} .content-layout {grid-template-columns: 100% !important; grid-template-rows: 1fr !important; grid-template-areas: 'main' !important;} .blockIndicator, .geckoVersionNote, .inheritsbox, .note, .notice, .overheadIndicator, .standardNoteBlock, .warning, .text-content p, .text-content dl, .text-content ol, .text-content ul {max-width:none !important; } #wikiArticle {border-bottom: none !important} .content-layout {max-width:none !important} .live .example-choice {align-items: initial} .article {padding: 30px 12px 30px 12px !important} .nav-footer {margin:0 -12px !important} .nav-footer {padding:60px 20px !important} .archived {position:static !important} #react-container > #nav-footer {display:none !important} .document-page .page-content-container {display:block !important} .locale-container {display:none !important} .bc-table .bc-history-link, .bc-table .ic-footnote {display:none !important} .ic-prefix {height:36px !important} .breadcrumb-locale-container {display:block} .article dl, .article ol, .article p, .article ul {max-width:none !important} .breadcrumbs li, .breadcrumbs li a {display:inline !important} .page-wrapper {display:block !important} .main-page-content dl, .main-page-content ol, .main-page-content p, .main-page-content ul {max-width:none !important} .language-toggle {display:none !important} .breadcrumb-locale-container {margin-top: 0 !important} .main-page-content iframe {width:100%}
