/* General setup */

* {
	box-sizing: border-box;
}

html,body {
	margin: 0;
}

html {
	font-size: 10px;
	font-family: sans-serif;
}

/* Typography */

h1 {
	font-size: 6rem;
}

p,form,li {
	font-size: 1.6rem;
	line-height: 1.5;
	font-family: 'Open Sans Condensed', sans-serif;
}

/* Layout and styles */

html {
	background-color: #FF0000;
	height: 100%;
}

body {
	display: -webkit-box;
	display: -moz-box;
	display: box;
	display: flex;
    
    -webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;
	justify-content: center;

    -webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;
    align-items: center;

    height: inherit;
}

body > .wrapper {
    width: 90%;
	max-width: 800px;
	background-color: rgb(250,250,250);
	padding: 2rem;
	position: relative;
	border: 5px solid black;
}

body > div > div {
	width: 300px;
}

h1 {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	position: absolute;
	left: 2rem;
	top: -4.6rem;
	text-transform: uppercase;
	color: rgb(250,250,250);
	text-shadow: 0px -1px 1px black,
	             0px -2px 1px black,
	             0px -3px 1px black,
	             0px -4px 1px black,
	             0px -5px 1px black;
}

form div label {
  float: left;
  width: 45%;
  text-align: right;
}

form div input, form div select {
	float: right;
}

form div input {
	width: 49%;
	line-height: 1.5;
}

form div select {
	width: 50%;
}

form div option {
		height: 2rem;
}

form div {
	clear: both;
	margin: 0 auto;
	width: 70%;
	padding-bottom: 4rem;
}

footer {
	clear: both;
}

img {
	position: absolute;
	bottom: 1rem;
	left: 1rem;
}

@media (max-width: 800px) {
	body > div {
	  width: 100%;
	}
}

@media (max-width: 600px) {
    h1 {
      font-size: 3rem;
      top: -2.2rem;
    }

	form div label {
      float: none;
      width: 100%;
      text-align: left;
    }

    form div input, form div select {
	  float: none;
	  width: 100%;
    }

    form div {
	  padding-bottom: 1.5rem;
    }

    img {
	  bottom: -4rem;
    }

}
.page-header, .document-toc-container, .loading-bar, #nav-access, .sidebar, .newsletter-container, .metadata {display:none !important} .content-layout {grid-template-columns: 100% !important; grid-template-rows: 1fr !important; grid-template-areas: 'main' !important;} .blockIndicator, .geckoVersionNote, .inheritsbox, .note, .notice, .overheadIndicator, .standardNoteBlock, .warning, .text-content p, .text-content dl, .text-content ol, .text-content ul {max-width:none !important; } #wikiArticle {border-bottom: none !important} .content-layout {max-width:none !important} .live .example-choice {align-items: initial} .article {padding: 30px 12px 30px 12px !important} .nav-footer {margin:0 -12px !important} .nav-footer {padding:60px 20px !important} .archived {position:static !important} #react-container > #nav-footer {display:none !important} .document-page .page-content-container {display:block !important} .locale-container {display:none !important} .bc-table .bc-history-link, .bc-table .ic-footnote {display:none !important} .ic-prefix {height:36px !important} .breadcrumb-locale-container {display:block} .article dl, .article ol, .article p, .article ul {max-width:none !important} .breadcrumbs li, .breadcrumbs li a {display:inline !important} .page-wrapper {display:block !important} .main-page-content dl, .main-page-content ol, .main-page-content p, .main-page-content ul {max-width:none !important} .language-toggle {display:none !important} .breadcrumb-locale-container {margin-top: 0 !important} .main-page-content iframe {width:100%}
